<div class="row">
  <div class="col-md-12">
    <h1>
      Customers
      <a class="btn btn-success" ng-click="addCustomer()">Add customer</a>
    </h1>

    <input type="text" placeholder="Search" class="form-control" ng-model="query" ng-change="filterCustomers()">

    <div ng-show="customers.length">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Street</th>
            <th>City</th>
            <th>Post code</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="customer in customers">
            <td>{{ customer.name }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.street }}</td>
            <td>{{ customer.city }}</td>
            <td>{{ customer.post_code }}</td>
            <td>
              <a class="btn btn-primary btn-xs" ui-sref="/customer({ customerId: customer.id })">Show</a>
              <a class="btn btn-warning btn-xs" ng-click="editCustomer(customer, $index)">Edit</a>
              <a class="btn btn-danger btn-xs" ng-click="destroyCustomer(customer.id, $index)">Destroy</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div ng-hide="customers.length">
      <div class="alert alert-warning">
        <strong>Warning!</strong> There isn't any customer yet!
      </div>
    </div>
  </div>
</div>
